{% extends 'base.html' %} {% block title %} Pools {% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Members</th>
            <th scope="col">Films per member</th>
            <th scope="col">Minimum votes</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        {% if pools %}
            {% for pool in pools %}
                <tr>
                    <th scope="row">{{ pool.id }}</th>
                    <td>{{ pool.name }}</td>
                    <td>{{ pool.number }}</td>
                    <td>{{ pool.amount }}</td>
                    <td>{{ pool.count }}</td>
                    <td>
                        <a href="{{ url_for('pools.link', hash_link=pool.hash_link) }}" class="link-success">
                            {{ pool.hash_link }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row">0</th>
                <td>Unknown</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}