{% extends 'base.html' %} {% block title %} Profile {% endblock %}

{% block content %}
    <form method="POST">
        <h3>Create new pool.</h3>
        <div class="form-group">
            <label for="name">Pool name</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Name"
            />
            <label for="number">Number of participants</label>
            <input
                    type="number"
                    class="form-control"
                    id="number"
                    name="number"
                    placeholder="Number"
            />
            <label for="amount">Number of films per person</label>
            <input
                    type="number"
                    class="form-control"
                    id="amount"
                    name="amount"
                    placeholder="Amount"
            />
            <label for="count">Minimum of vote count</label>
            <input
                    type="number"
                    class="form-control"
                    id="count"
                    name="count"
                    placeholder="Count"
            />
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
{% endblock %}